USE [master]
GO
/****** Object:  Database [Pruebas]    Script Date: 22/03/2024 04:59:03 p. m. ******/
CREATE DATABASE [Pruebas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pruebas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Pruebas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pruebas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Pruebas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pruebas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pruebas]
GO
/****** Object:  User [Sems]    Script Date: 22/03/2024 04:59:03 p. m. ******/
CREATE USER [Sems] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 22/03/2024 04:59:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](max) NOT NULL,
	[APPELLIDOS] [varchar](max) NOT NULL,
	[CORREO] [varchar](max) NOT NULL,
	[CONTRASEÑA] [varchar](max) NULL,
	[PUESTO] [varchar](max) NULL,
	[ROL] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[I_NuevoUsuario]    Script Date: 22/03/2024 04:59:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*CREATE DATABASE Pruebas*/
/*CREATE TABLE USUARIO(
ID int PRIMARY KEY IDENTITY(1,1) NOT NULL,
NOMBRE VARCHAR (MAX) NOT NULL,
APPELLIDOS VARCHAR (MAX) NOT NULL,
CORREO VARCHAR (MAX) NOT NULL,
CONTRASEÑA VARCHAR (MAX) NULL,
PUESTO VARCHAR (MAX) NULL,
ROL INT NOT NULL
)*/

/*CREATE PROC ValidarUsuario
@US VARCHAR (MAX),
@PASS VARCHAR (MAX)
AS BEGIN SELECT NOMBRE,APPELLIDOS,PUESTO,ROL,CORREO FROM USUARIO WHERE NOMBRE = @US AND CONTRASEÑA = @PASS 
END*/

CREATE PROC [dbo].[I_NuevoUsuario]
@NOMBRE VARCHAR (MAX),
@APPELLIDOS VARCHAR(MAX),
@CORREO VARCHAR (MAX),
@CONTRASEÑA VARCHAR (MAX),
@PUESTO VARCHAR (50),
@ROL INT
AS BEGIN TRY 
	INSERT INTO USUARIO (NOMBRE,APPELLIDOS,CORREO,CONTRASEÑA,PUESTO,ROL) VALUES (@NOMBRE,@APPELLIDOS,@CORREO,@CONTRASEÑA,@PUESTO,@ROL)
	END TRY
BEGIN CATCH 
	DECLARE @ERROR VARCHAR(MAX)
	SET @ERROR = ERROR_MESSAGE()
	RAISERROR(@ERROR,16,1)
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[ValidarUsuario]    Script Date: 22/03/2024 04:59:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*CREATE DATABASE Pruebas*/
/*CREATE TABLE USUARIO(
ID int PRIMARY KEY IDENTITY(1,1) NOT NULL,
NOMBRE VARCHAR (MAX) NOT NULL,
APPELLIDOS VARCHAR (MAX) NOT NULL,
CORREO VARCHAR (MAX) NOT NULL,
CONTRASEÑA VARCHAR (MAX) NULL,
PUESTO VARCHAR (MAX) NULL,
ROL INT NOT NULL
)*/

CREATE PROC [dbo].[ValidarUsuario]
@US VARCHAR (MAX),
@PASS VARCHAR (MAX)
AS BEGIN SELECT NOMBRE,APPELLIDOS,PUESTO,ROL,CORREO FROM USUARIO WHERE NOMBRE = @US AND CONTRASEÑA = @PASS 
END

GO
USE [master]
GO
